*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 2;
  }
}
@keyframes fadeOut{
  0%{
    opacity: 3;
  }
  100%{
    opacity: 0;
  }

}